* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 4vh;
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-around;
  padding: 2vw 10vw;
  align-items: flex-start;
  border-bottom: 1px solid aliceblue;
  z-index: 10;
  overflow: hidden;
}

.navbar {
  height: 5vh;
  transition: height 0.3s ease;
}

.navbar.active {
  height: 24vh;
}
.navbar h3 {
  font-weight: 100;
  color: aliceblue;
  font-size: 2vw;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  gap: 3.5vw;
}
.navlinks a {
  text-decoration: none;
  font-weight: 100;
  color: aliceblue;
  font-size: 1.3vw;
}

.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
  color: aliceblue;
  font-size: 1vw;
  font-weight: 100;
  line-height: 1.5vw;
}

#nav-button {
  padding: 0.2vw;
  width: 12vw;
  background-color: #08a21bfa;
  border-radius: 18px;
  color: aliceblue;
  margin-bottom: 2vw;
  font-size: 1.3vw;
}
#nav-button a {
  text-decoration: none;
  color: aliceblue;
}

#nav-button:hover a {
  cursor: pointer;
  color: green;
}
#nav-button:hover {
  cursor: pointer;
  background-color: #f0f5f0;
}
.home-container {
  width: 100%;
  height: 100vh;
  background: black;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Start animation from bottom-right */
  transform-origin: bottom right;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: aliceblue;
  font-size: 8vw;
  font-weight: 900;
}

#productimg {
  width: 6vw;
  border-radius: 50%;
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-content p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2vw;
  color: aliceblue;
  font-weight: 100;
  overflow: hidden;
}

.content1 {
  display: flex;
  gap: 1vw;
  padding: 1.2vw;
}
.content1 h5 {
  color: aliceblue;
  border: 0.5px solid aliceblue;
  border-radius: 20px;
  padding: 0.4vw 2vw;
  font-size: 1.2vw;
  box-shadow: 0.5px 1px 4px;
  font-weight: 100;
}
.content1 h5:hover {
  background-color: green;
}
#services {
  background-color: green;
  color: aliceblue;
  height: 5vw;
  width: 9vw;
  border-radius: 2vw;
  margin: 3.5vw 7vw;
  box-shadow: 0 0 40px #28a928;
  font-size: 1.5vw;
}
.container h1 {
  font-size: 2.5vw;
  letter-spacing: -2px;
  font-weight: 700;
  text-shadow: 2px 2px green;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7vw;
}
.main-box {
  width: 30vw;
  height: 40vh;
  background: #000000d9;
  box-shadow: 0 0 170px rgb(61 187 71 / 88%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 1.3vw;
  font-weight: 100;
  padding: 2.5vw;
}

.small-box {
  width: 19vw;
  height: 13vw;
  background: rgb(84 84 84 / 0%);
  border: 1px solid #decbcbd1;
  box-shadow: 1px 2px 5px aliceblue;
  box-shadow: inset 0 0 90px rgb(122 255 78 / 88%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 8px;
  transition: all 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 1.1vw;
  padding: 2vw;
  gap: 2vw;
}
/* Active State */

.main-box.active .box1 {
  transform: translate(-40vw, -20vw);
  opacity: 1;
  color: aliceblue;
}

.main-box.active .box2 {
  transform: translate(22vw, -20vw);
  opacity: 1;
  color: aliceblue;
}

.main-box.active .box3 {
  transform: translate(-40vw, 5vw);
  opacity: 1;
  color: aliceblue;
}

.main-box.active .box4 {
  transform: translate(22vw, 5vw);
  opacity: 1;
  color: aliceblue;
}

.Our-works {
  background-color: black;
  width: 100%;
  height: auto;
  padding: 6vw;
  gap: 10vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 10vw;
}
.wheading h1 {
  font-size: 2.5vw;
  letter-spacing: -2px;
  font-weight: 700;
  text-shadow: 2px 2px green;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}

.work1 {
  width: 100%;
  height: 55vh;
  border: 1px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.video {
  width: 100%;
  box-shadow: 0 0 50px #50c75d;

  /* object-fit: cover;
  object-position: center; */
}

.video1 {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.video2 {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.video3 {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  padding: 0vw 11vw;
}
.video-content {
  color: white;

  padding: 3vw;
  line-height: 3vw;
  width: 0vw;
}

.reviews {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

#moving-div {
  width: 100vw;
  height: 8vh;
  box-shadow: 0 0 30px rgb(64 245 95);
  background-color: #dee7de;
  display: flex;
  overflow: hidden;
}

.move img {
  width: 10vw;
  height: 6vh;
}

.move {
  display: flex;
  gap: 3vw;
  animation-name: slide;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.review-cards {
  width: 80vw;
  height: 70vh;
  align-self: center;

  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.card {
  position: absolute;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  height: 40vh;
  width: 37vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.card-image {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
}
.img1 {
  object-fit: cover;
  object-position: center;
  width: fit-content;
  width: 10vw;
  height: 10vw;
}

#contact {
  width: 100%;
  height: 100vh;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact {
  background-color: #000000;
  margin: 2vw;
  border-top: 1px dotted white;
  width: 100%;
  height: 80vh;
}

.footer {
  width: 100%;
  height: 79vh;
  background: #000000;
  padding: 4vw;
}

.lower-footer {
  display: flex;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: vw;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  font-size: 1.6vw;
  font-weight: 600;
  color: #fffefe;
  margin-bottom: 1.5vw;
}

.footer-column a {
  text-decoration: none;
  color: #7d8495;
  font-size: 1vw;
  margin-bottom: 0.8vw;
  transition: 0.3s;
}

.footer-column a:hover {
  color: #1ecb16;
}

.footer-heading {
  color: aliceblue;
  width: 100%;
  height: 4vw;
  padding: 2vw;
}
.heading {
  color: aliceblue;
  font-size: 2vw;
  text-shadow: 2px 2px green;
}

.contact-card {
  width: 30vw;
  height: 78vh;
  margin-right: 2vw;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 28px;

  padding: 45px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.3vw;

  color: white;
}

.tag {
  width: fit-content;

  padding: 8px 18px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;

  font-size: 1.2vw;
  letter-spacing: 0.2vw;
  color: #7cff83;
}

.contact-card h1 {
  font-size: 3vw;
  line-height: 1.1;
  font-weight: 600;
}

.contact-card p {
  color: #bcbcbc;
  line-height: 1.6;
  font-size: 1.4vw;
}

.work-btn {
  width: 100%;
  height: 4vw;

  border: none;
  outline: none;

  border-radius: 50px;

  background: #6bff88;
  color: #111;

  font-size: 1.4vw;
  font-weight: 600;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8vw;

  transition: 0.35s;
}

.work-btn:hover {
  background: white;
  transform: translateY(-4px);
}

.socials {
  display: flex;
  gap: 18px;
}

.socials a {
  width: 6vw;
  height: 5vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  text-decoration: none;

  background: rgba(255, 255, 255, 0.06);

  border: 1px solid rgba(255, 255, 255, 0.1);

  color: white;

  font-size: 1.2rem;

  transition: 0.35s;
}

.socials a:hover {
  background: #6bff88;
  color: #111;
  transform: translateY(-5px);
}

/* ================= MOBILE RESPONSIVE ================= */

@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* Navbar */

  .navbar {
    width: 100vw;
    height: 2vh;
    padding: 2vw 1vw;
    align-items: center;
    display: flex;
    gap: 1vw;
  }

  .navbar.active {
    height: auto;
    padding-bottom: 5vw;
  }

  .navbar h3 {
    font-size: 4vw;
  }

  .navlinks {
    display: none;
  }

  .nav-part2 {
    gap: 1.5vw;
    font-size: 1.2vw;
  }

  #nav-button {
    width: 15vw;
    padding: 2vw;
    font-size: 1.6vw;
  }

  /* Home */

  .home-container {
    width: 100%;
    height: 70vh;
    padding: 0 5vw;
  }

  h1 {
    font-size: 14vw;
    text-align: center;
    line-height: 1.05;
  }

  #productimg {
    width: 12vw;
  }

  .home-content p {
    font-size: 3.5vw;
    text-align: center;
  }

  .content1 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
  }

  .content1 h5 {
    font-size: 3vw;
    padding: 2vw 5vw;
  }

  /* Services */

  .container {
    height: auto;
    padding: 15vw 5vw;
    gap: 12vw;
  }

  .container h1 {
    font-size: 6vw;
  }

  .main-box {
    width: 40%;
    height: 18vh;
    padding: 1.4vw;
    font-size: 1.5vw;
    align-items: center;
  }

  /* Work  */

  .Our-works {
    padding: 10vw 5vw;
    gap: 12vw;
  }

  .wheading h1 {
    font-size: 8vw;
  }

  .work1 {
    flex-direction: column;
    height: auto;
    gap: 6vw;
    align-items: center;
    width: 100%;
  }

  .video {
    width: 100%;
  }

  .video1,
  .video2,
  .video3 {
    width: 100%;
    height: 20vh;
    padding: 0;
  }

  .video-content {
    width: 70vw;
    padding: 0;
    line-height: 1.8;
    height: 20;
    padding-left: 14vw;
    align-self: start;
  }

  .video-content h2 {
    font-size: 3vw;
    width: 70vw;
  }

  .video-content p {
    font-size: 1.7vw;
    width: 70vw;
  }

  /* Reviews */

  .reviews {
    height: 80vh;
    padding: 6vw 0;
  }

  .review-cards {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .card {
    position: absolute;
    width: 50%;
    height: 20vh;
    padding: 2vw;
    font-size: 2vw;
  }

  .card-image {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    object-position: center;
  }

  #moving-div {
    width: 100%;
    height: 7vh;
  }

  .move img {
    width: 18vw;
  }

  /* Contact */

  #contact {
    height: auto;
  }

  .contact {
    height: auto;
  }

  .lower-footer {
    flex-direction: column;
    gap: 8vw;
  }

  .footer {
    width: 100%;
    height: auto;
    padding: 6vw;
  }

  .footer-container {
    grid-template-columns: 1, 2fr;
    gap: 8vw;
  }

  .footer-column h3 {
    font-size: 2.5vw;
  }

  .footer-column a {
    font-size: 2vw;
  }

  .contact-card {
    width: 100%;
    height: auto;
    padding: 8vw;
    margin: 2vw 6vw;
  }

  .contact-card h1 {
    font-size: 9vw;
    text-align: start;
  }

  .contact-card p {
    font-size: 4vw;
  }

  .tag {
    font-size: 3vw;
  }

  .work-btn {
    height: 12vw;
    font-size: 4vw;
  }

  .socials {
    justify-content: center;
  }

  .socials a {
    width: 12vw;
    height: 12vw;
  }

  .footer-heading {
    height: auto;
    padding: 5vw;
  }

  .heading {
    font-size: 7vw;
  }
}
